spring:
  application:
    name: gaming-server-service-admin
  datasource:
    druid:
      url: jdbc:mysql://119.23.251.26:3306/toutiao?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: 656766
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      driver-class-name: com.mysql.jdbc.Driver

mybatis:
    type-aliases-package: com.ooqiu.gaming.server.domain
    mapper-locations: classpath:mapper/*.xml

dubbo:
  scan:
    base-packages: com.ooqiu.gaming.service.admin.api
  application:
    id: gaming-server-service-admin
    name: gaming-server-service-admin
  protocol:
    id: dubbo
    name: dubbo
  registry:
    id: zookeeper
    address: zookeeper://119.23.251.26:2181?backup=119.23.251.26:2182,119.23.251.26:2183


